.container {
  width: 100%;
  display: flex;
  gap: 0.625rem;
  overflow: auto;
}

.button {
  height: 40px;
  padding: 0.625rem 1rem;
  border-radius: 6.25rem;
  border: 0.0625rem solid var(--gray-500);
  display: grid;
  place-items: center;
  font-family: var(--font-hauora);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1rem;
  color: var(--gray-600);
  text-wrap: nowrap;
  cursor: pointer;
}

.buttonSelected {
  border-color: var(--pink-700);
  color: var(--pink-700);
}
