.container {
  width: calc(calc(100% - 2rem) / 2);
  height: min-content;
  max-height: 100%;
  padding: 1.25rem 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  overflow: auto;
}

.withoutScroll {
  overflow: hidden;
}

.pictureBox {
  width: 124px;
  height: 124px;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.pictureBoxSelected {
  width: 116px;
  height: 116px;
  border: 0.25rem solid var(--pink-700);
}

.deleteButton {
  padding: 0.5625rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: var(--white);
  border-radius: 0.25rem;
  border: 0.0625rem solid #000000;
  cursor: pointer;
  display: none;
  place-items: center;
}

.pictureBox:hover .deleteButton {
  display: grid;
}

.pictureBox.active .deleteButton {
  display: grid;
  place-items: start end;
}

.deleteIcon {
  width: 1.25rem;
  height: 1.25rem;
  color: var(--gray-800);
}

.picture {
  width: auto;
  height: 124px;
  object-fit: cover;
}

.skeleton {
  background: linear-gradient(
    90deg,
    var(--gray-300) 25%,
    var(--gray-200) 50%,
    var(--gray-300) 75%
  );
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite linear;
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

@media (max-width: 50rem) {
  .container {
    width: auto;
    flex-grow: 1;
  }
}

@media (max-width: 34rem) {
  .pictureBox {
    width: calc(100% - 6px);
    height: auto;
    aspect-ratio: 1 / 1;
  }

  .pictureBoxSelected {
    width: calc(calc(100% - 6px) - 8px);
    height: auto;
    aspect-ratio: 1 / 1;
    border: 0.25rem solid var(--pink-700);
  }

  .deleteButton {
    padding: 0.5rem;
  }

  .deleteIcon {
    width: 1rem;
    height: 1rem;
    color: var(--gray-800);
  }
}

@media (max-width: 32rem) {
  .container {
    width: 86px;
    flex-shrink: 0;
    flex-grow: 0;
  }
}
