.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.wrapper {
  width: 100%;
  height: 52px;
  padding: 0.8125rem 1.25rem;
  border: 0.125rem solid rgba(231, 231, 233, 0.85);
  border-radius: 6.75rem;
  background-color: var(--white);
  color: var(--gray-600);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  box-sizing: border-box;
}

.wrapperError {
  border-color: #e53935;
  color: #e53935;
}

.icon {
  width: 1.125rem;
  height: 1.125rem;
  color: inherit;
}

.countryCode {
  font-family: var(--font-hauora);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1rem;
  color: var(--gray-800);
}

.wrapperError > .countryCode {
  color: #e53935;
}

.input {
  width: 100%;
  flex-grow: 1;
  font-family: var(--font-hauora);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1rem;
  color: var(--gray-800);
}

.input::placeholder {
  color: var(--gray-600);
}

.wrapperError > .input {
  color: #e53935;
}

.wrapperError > .input::placeholder {
  color: #e53935;
}

.eyeButton {
  display: grid;
  place-content: center;
  cursor: pointer;
  color: inherit;
}

.eyeIcon {
  width: 1.125rem;
  height: 1.125rem;
  color: inherit;
}
