.logoutButton {
  padding: 0.625rem 0;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.icon {
  width: 1.125rem;
  height: 1.125rem;
  transform: rotate(-45deg);
  color: var(--gray-500);
}

@media (max-width: 50rem) {
  .logoutButton {
    padding: 0 0.625rem;
  }
}
