.container {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

.content {
  padding: 2.5rem 1.875rem;
  position: absolute;
  top: 0;
  right: calc(100% - 400px);
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: var(--white);
  box-shadow: 0px 8px 28px 0px rgba(0, 0, 0, 0.1);
}

@media (max-width: 29rem) {
  .content {
    right: 0;
  }
}
